# **Introduction to Data Science**

# **Assignment 2**

## *BSDSF22M011 Muhammad Ali Raza*

# **Smart Data Aggregator**

## Part 1: User Data Processing with Lists

In [ ]:
def filter_users (list_of_tuples):
    names = []
    for _tuple in list_of_tuples:
        user_id, user_name, age, country = _tuple
        if age > 30 and (country == "USA" or country == "Canada"):
            names.append(user_name)
    return names

user_data = [
    (1, 'John Eaton', 46, 'USA'),
    (2, 'Donald Mathews', 18, 'Germany'),
    (3, 'Krista Evans', 51, 'Australia'),
    (4, 'Julia Chavez', 53, 'India'),
    (5, 'Kent Cervantes', 56, 'UK'),
    (6, 'Charles Brennan', 40, 'Canada'),
    (7, 'Jessica Alexander', 56, 'Germany'),
    (8, 'Brenda Hopkins DVM', 33, 'Australia'),
    (9, 'Jason Henderson', 19, 'Germany'),
    (10, 'Ana Young', 29, 'USA')
]

users = filter_users(user_data)
users

In [ ]:
def sort_by_age (user):
    return user[2]

user_data = [
    (1, 'Tristan Ramirez', 42, 'USA'),
    (2, 'Alexis Simon', 37, 'Australia'),
    (3, 'Dennis Peters', 58, 'Germany'),
    (4, 'Robert Mcdaniel', 36, 'Germany'),
    (5, 'Amanda Olson', 32, 'France'),
    (6, 'Dr. Mary Delgado', 20, 'UK'),
    (7, 'Patrick Wright', 25, 'Canada'),
    (8, 'Alyssa Richardson', 50, 'Australia'),
    (9, 'Briana Guerrero', 32, 'Germany'),
    (10, 'Felicia Parrish', 53, 'UK'),
    (11, 'Wendy Ali', 38, 'USA'),
    (12, 'Olivia Becker', 34, 'Germany'),
    (13, 'Lauren Robinson', 41, 'Germany'),
    (14, 'Debra Bradley', 35, 'UK'),
    (15, 'Kimberly Crawford', 39, 'USA'),
    (16, 'Jennifer Copeland', 32, 'USA'),
    (17, 'Shane Stokes', 48, 'Australia'),
    (18, 'Jamie Floyd', 44, 'France'),
    (19, 'Paul Smith', 46, 'USA'),
    (20, 'Amy Parsons', 30, 'USA')
]

top_10_oldest = sorted(user_data, key=sort_by_age, reverse=True)[:10]
top_10_oldest

In [32]:
def sort_by_name (users):
    return users[1]
    
def find_duplicate_names (users):
    sorted_names = sorted(users, key=sort_by_name)
    duplicates = []
    for i in range (len(users)):        
        if users[i][1] == users[i-1][1]:            
            duplicates.append(users[i][1])
    return duplicates
    
user_data = [
    (1, 'Robert Mcdaniel', 42, 'USA'),
    (2, 'Dennis Peters', 37, 'Australia'),
    (3, 'Dennis Peters', 58, 'Germany'),
    (4, 'Robert Mcdaniel', 36, 'Germany'),    
]

duplicates = find_duplicate_names (user_data)
duplicates

['Robert Mcdaniel', 'Dennis Peters']

## Part 2: Immutable Data Management with Tuples

In [4]:
def find_unique_users (transaction_data):
    unique = []

    for transaction in transaction_data:
        transaction_id, user_id, amount, timestamp = transaction
        if user_id not in unique:
            unique.append(user_id)
    return len(unique)

transactions = [
    (1, 101, 25.50, '2024-10-10 10:00'),
    (2, 102, 75.00, '2024-10-10 10:05'),
    (3, 101, 50.00, '2024-10-10 10:15'),
    (4, 103, 100.00, '2024-10-10 10:20'),
    (5, 104, 45.00, '2024-10-10 10:30')
]

unique_users = find_unique_users (transactions)
unique_users

4

In [5]:
def find_highest_amount (transaction_data):
    amounts = []

    for transaction in transaction_data:
        transaction_id, user_id, amount, timestamp = transaction
        amounts.append(amount)
        
    return max(amounts)

transactions = [
    (1, 101, 25.50, '2024-10-10 10:00'),
    (2, 102, 75.00, '2024-10-10 10:05'),
    (3, 100, 50.00, '2024-10-10 10:15'),
    (4, 103, 100.00, '2024-10-10 10:20'),
    (5, 104, 45.00, '2024-10-10 10:30')
]

max_amount = find_highest_amount(transactions)
max_amount

100.0

In [7]:
def transaction_id_and_user_id (transactions):
    transaction_ids = []
    user_ids = []

    for transaction in transactions:
        transaction_id, user_id, amount, timestamp = transaction
        transaction_ids.append(transaction_id)
        user_ids.append(user_id)
    
    return transaction_ids, user_ids

transactions = [
    (1, 101, 25.50, '2024-10-10 10:00'),
    (2, 102, 75.00, '2024-10-10 10:05'),
    (3, 100, 50.00, '2024-10-10 10:15'),
    (4, 103, 100.00, '2024-10-10 10:20'),
    (5, 104, 45.00, '2024-10-10 10:30')
]

transaction_ids, user_ids = transaction_id_and_user_id (transactions)
print(transaction_ids)
print(user_ids)

[1, 2, 3, 4, 5]
[101, 102, 100, 103, 104]

## Part 3: Unique Data Handling with Sets

In [20]:
def a_and_b (a,b):
    return a.intersection(b)

def a_or_c (a,c):
    return a.symmetric_difference(c)

def update_a (a, user_ids):
    a.update(user_ids)
    return a

def update_b (b, user_ids):
    b.difference_update(user_ids)
    return b

page_A = {101, 102, 103, 104, 105}
page_B = {104, 105, 106, 107, 108}
page_C = {103, 106, 109, 110}

page_A_and_page_B = a_and_b(page_A, page_B)
print(page_A_and_page_B)

page_A_or_page_C = a_or_c (page_A, page_C)
print(page_A_or_page_C)

new_user_ids = [111, 112]
new_A = update_a (page_A, new_user_ids)
print(new_A)

delete_users = [106, 107]
new_b = update_b (page_B, delete_users)
print(new_b)

{104, 105}
{101, 102, 104, 105, 106, 109, 110}
{112, 101, 102, 103, 104, 105, 111}
{104, 105, 108}

## Part 4: Data Aggregation with Dictionaries

In [25]:
def filter_ratings (feedback):
    four_and_above = dict()
    items = feedback.items()

    for item in items:
        user_id, rating = item
        if rating['rating'] >=4:
            four_and_above[user_id] = rating
    return four_and_above

feedback = {
    101: {'rating': 5, 'comments': 'Great service!'},
    102: {'rating': 3, 'comments': 'Could be better.'},
    103: {'rating': 4, 'comments': 'Satisfied overall.'}
}

filter_ratings(feedback)

{101: {'rating': 5, 'comments': 'Great service!'},
 103: {'rating': 4, 'comments': 'Satisfied overall.'}}

In [33]:
def sort_by_rating (dic):
    return dic[1]['rating']

feedback = {
    101: {'rating': 5, 'comments': 'Great service!'},
    102: {'rating': 3, 'comments': 'Could be better.'},
    103: {'rating': 4, 'comments': 'Satisfied overall.'},
    104: {'rating': 2, 'comments': 'Not happy with the experience.'},
    105: {'rating': 5, 'comments': 'Excellent platform!'},
    103: {'rating': 4, 'comments': 'Would recommend to others.'},
    106: {'rating': 1, 'comments': 'Terrible support.'},
    107: {'rating': 5, 'comments': 'Best I’ve used.'},
    102: {'rating': 4, 'comments': 'Improved over time.'}
}

top_ratings  = sorted(feedback.items(), key=sort_by_rating, reverse=True)[:5]

top_ratings_dict = dict()

for rating in top_ratings:
    user, review = rating
    top_ratings_dict[user] = review

top_ratings_dict

{101: {'rating': 5, 'comments': 'Great service!'},
 105: {'rating': 5, 'comments': 'Excellent platform!'},
 107: {'rating': 5, 'comments': 'Best I’ve used.'},
 102: {'rating': 4, 'comments': 'Improved over time.'},
 103: {'rating': 4, 'comments': 'Would recommend to others.'}}

In [36]:
def combine_feedback(feedbacks):
    combined_feedback = {}
    
    for feedback in feedbacks:
        for user_id, rating in feedback.items():
            if user_id not in combined_feedback:
                combined_feedback[user_id] = rating
            else:                
                combined_feedback[user_id]['rating'] = max(combined_feedback[user_id]['rating'], rating['rating'])                
                combined_feedback[user_id]['comments'] += ' ' + rating['comments']
    
    return combined_feedback

feedback_1 = {
    101: {'rating': 5, 'comments': 'Great service!'},
    102: {'rating': 3, 'comments': 'Could be better.'},
    103: {'rating': 4, 'comments': 'Satisfied overall.'}
}

feedback_2 = {
    104: {'rating': 2, 'comments': 'Not happy with the experience.'},
    105: {'rating': 5, 'comments': 'Excellent platform!'},
    103: {'rating': 4, 'comments': 'Would recommend to others.'}
}

combined = combine_feedback([feedback_1, feedback_2])
combined

{101: {'rating': 5, 'comments': 'Great service!'},
 102: {'rating': 3, 'comments': 'Could be better.'},
 103: {'rating': 4,
  'comments': 'Satisfied overall. Would recommend to others.'},
 104: {'rating': 2, 'comments': 'Not happy with the experience.'},
 105: {'rating': 5, 'comments': 'Excellent platform!'}}

In [38]:
def rating_above_3(feedback):
    return {user_id: rating['rating'] for user_id, rating in feedback.items() if rating['rating'] > 3}

feedback = {
    104: {'rating': 2, 'comments': 'Not happy with the experience.'},
    105: {'rating': 5, 'comments': 'Excellent platform!'},
    103: {'rating': 4, 'comments': 'Would recommend to others.'}
}

above_3 = rating_above_3(feedback)
above_3

{105: 5, 103: 4}