# **Introduction to Data Science**

# **Assignment 5**

## *BSDSF22M011 - Muhammad Ali Raza*

# **Task 1**

## For sales.csv:

In [ ]:
import pandas as pd

sales = pd.read_csv("sales.csv")
print(sales.head())
rows, cols = sales.shape
print("Total rows are {} and total columns are {}\n".format(rows,cols))

print("Checking for missing values\n")
print(sales.isna().sum())
print("\nDataset does not contain missing values")

## For customers.csv:

In [23]:
import pandas as pd

customers = pd.read_csv("customers.csv")
print(customers.head())
rows, cols = customers.shape
print("Total rows are {} and total columns are {}\n".format(rows,cols))

print("Checking for missing values\n")
print(customers.isna().sum())
print("\nDataset does not contain missing values")

   CustomerID  Age         City
0           1   22     New York
1           2   23  Los Angeles
2           3   24      Chicago
3           4   25      Houston
4           5   26      Phoenix
Total rows are 100 and total columns are 3

Checking for missing values

CustomerID    0
Age           0
City          0
dtype: int64

Dataset does not contain missing values

# **Task 2**

In [39]:
import pandas as pd
import timeit

customers_df = pd.read_csv("customers.csv")
customers_dict = customers_df.to_dict(orient='records')

def filter_df(df):
    return df[df['City']== 'Los Angeles']

def filter_dict(dic_list):
    return [customer for customer in dic_list if customer['City'] == 'Los Angeles']

df_exec_time = timeit.timeit(lambda: filter_df(customers_df), number=10)
dict_exec_time = timeit.timeit(lambda: filter_dict(customers_dict), number=10)
print(f"Dataframe takes {df_exec_time} seconds")
print(f"Dictionary takes {dict_exec_time} seconds")

Dataframe takes 0.004994144000193046 seconds
Dictionary takes 0.00023233199999594945 seconds

# **Task 3**

In [44]:
import pandas as pd

sales = pd.read_csv("sales.csv")
customers = pd.read_csv("customers.csv")

print(sales[sales.duplicated()])
print(customers[customers.duplicated()])

print("\nNo duplication found in either dataset")

Empty DataFrame
Columns: [SaleID, CustomerID, Product, Amount]
Index: []
Empty DataFrame
Columns: [CustomerID, Age, City]
Index: []

No duplication found in either dataset

# **Task 4**

In [56]:
import pandas as pd

sales = pd.read_csv("sales.csv")

sales['Discounted Total'] = sales['Amount'] - (sales['Amount'] * 0.10)
print(sales)

sales.groupby('Product').size().reset_index(name='Total Sales')

     SaleID  CustomerID     Product  Amount  Discounted Total
0       101           1      Laptop     200             180.0
1       102           2  Smartphone     500             450.0
2       103           3      Tablet     800             720.0
3       104           4  Headphones    1100             990.0
4       105           5     Monitor    1400            1260.0
..      ...         ...         ...     ...               ...
395     496          96      Laptop     200             180.0
396     497          97  Smartphone     500             450.0
397     498          98      Tablet     800             720.0
398     499          99  Headphones    1100             990.0
399     500         100     Monitor    1400            1260.0

[400 rows x 5 columns]

      Product  Total Sales
0  Headphones           80
1      Laptop           80
2     Monitor           80
3  Smartphone           80
4      Tablet           80

# **Task 5**

In [66]:
import pandas as pd

customers = pd.read_csv("customers.csv")

filter_by_age = customers[(customers['Age'] >= 25) & (customers['Age'] <=35)]
print(filter_by_age)

filter_by_age.groupby('City').size().reset_index(name='Count of People')

    CustomerID  Age         City
3            4   25      Houston
4            5   26      Phoenix
5            6   27     New York
6            7   28  Los Angeles
7            8   29      Chicago
8            9   30      Houston
9           10   31      Phoenix
10          11   32     New York
11          12   33  Los Angeles
12          13   34      Chicago
13          14   35      Houston
33          34   25      Houston
34          35   26      Phoenix
35          36   27     New York
36          37   28  Los Angeles
37          38   29      Chicago
38          39   30      Houston
39          40   31      Phoenix
40          41   32     New York
41          42   33  Los Angeles
42          43   34      Chicago
43          44   35      Houston
63          64   25      Houston
64          65   26      Phoenix
65          66   27     New York
66          67   28  Los Angeles
67          68   29      Chicago
68          69   30      Houston
69          70   31      Phoenix
70          71   32     New York
71          72   33  Los Angeles
72          73   34      Chicago
73          74   35      Houston
93          94   25      Houston
94          95   26      Phoenix
95          96   27     New York
96          97   28  Los Angeles
97          98   29      Chicago
98          99   30      Houston
99         100   31      Phoenix

          City  Count of People
0      Chicago                7
1      Houston               11
2  Los Angeles                7
3     New York                7
4      Phoenix                8

# **Task 6**

In [84]:
import pandas as pd

sales = pd.read_csv("sales.csv")
customers = pd.read_csv("customers.csv")

merged = pd.merge(sales, customers, on='CustomerID')
sales_by_city = merged.groupby('City')['SaleID'].count().reset_index(name='Sales')
print(sales_by_city)
print('All cities have equal sales\n')

units_by_product = merged.groupby('Product').size().reset_index(name='Units Sold')
print(units_by_product)
print('All products have equal sales')

          City  Sales
0      Chicago     80
1      Houston     80
2  Los Angeles     80
3     New York     80
4      Phoenix     80
All cities have equal sales

      Product  Units Sold
0  Headphones          80
1      Laptop          80
2     Monitor          80
3  Smartphone          80
4      Tablet          80
All products have equal sales

# **Task 7**

In [111]:
import pandas as pd

sales = pd.read_csv("sales.csv")
customers = pd.read_csv("customers.csv")

merged = pd.merge(sales, customers, on='CustomerID')

unique_cities = merged['City'].unique()

df_cities = pd.DataFrame(data=unique_cities)
print('Unique Cities: ')
print(df_cities.to_string(index=False, header=False))
print('\n')
unique_products = merged['Product'].unique()
df_products = pd.DataFrame(data=unique_products)
print('Unique Products: ')
print(df_products.to_string(index=False, header=False))
print('\n')
print('Mean of Amount is: ', merged['Amount'].mean())
print('Median of Amount is: ', merged['Amount'].median())

Unique Cities:
   New York
Los Angeles
    Chicago
    Houston
    Phoenix


Unique Products:
    Laptop
Smartphone
    Tablet
Headphones
   Monitor


Mean of Amount is:  800.0
Median of Amount is:  800.0